.container {
  margin: 1rem 1rem;
  background-color: white;
  border-radius: .7rem;
  box-shadow: 6px 6px 10px #888888;
}

.question {
  text-align: center;
  margin: .7rem;
  padding: .7rem;
}

.category {
  text-align: center;
  margin: 0;
}

.difficulty {
  text-align: center;
  margin: 0;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 1rem;
}
