.container {
  margin: 1rem 1rem;
  background-color: white;
  border-radius: .7rem;
  box-shadow: 6px 6px 10px #888888;
  font-family: 'Poppins', sans-serif;
}

.question {
  text-align: center;
  margin: .7rem;
  padding: .7rem;
}

.category {
  text-align: center;
  margin: 0;
}

.difficulty {
  text-align: center;
  margin: 0;
}

.answers {
  margin: 5rem;
  display: inline;
  padding-bottom: 1rem;
}

li {
  list-style-type: none;
}
