@font-face {
  font-family: 'Fujimaru';
  src: local('Fujimaru'), url(./Fujimaru-Regular.ttf) format('woff');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Fujimaru';
  color: black;
}

.Start-game {
  background-color: #FFFFFF;
  color: black;
  font-family: 'Fujimaru';
  font-size: calc(12px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
